@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive, dark {
    .error_eH {
      @apply text-pink-800 bg-red-200;
    }
    .warning_eH {
      @apply text-yellow-800 bg-yellow-200;
    }
    .info_eH {
      @apply text-blue-900 bg-blue-300;
    }
    .success_eH {
      @apply text-green-900 bg-green-300;
    }
  }
}

@layer base {
  /* .error_handler__item_transition-enter {
    opacity: 0.2;
    transform: translateX(350px);
  }
  .error_handler__item_transition-enter-active {
    opacity: 1;
    transform: translateX(0px);
    transition: all 500ms ease-in;
  }
  .error_handler__item_transition-exit {
    opacity: 0.5;
  }
  .error_handler__item_transition-exit-active {
    opacity: 0;
    transform: translateX(350px);
    transition: all 500ms ease-out;
  } */
}
